body{
  background-color: MistyRose;
  font-family: Courier;
  color: black;
}
.map {
  height: 400px;
}
#wsp-image{
  max-width: 300px;
}
#markercontent{
  background-color:Snow;
  border-radius:25px;
  padding-left:20px;
  width:100px;
}
#content{
  background-color:Snow;
  border-radius:25px;
  padding-left:20px;
  width:1130px;
}
#header{
  background-color:MistyRose;
}
